In [1]:
import numpy as np

In [2]:
mylist=[1,2,3,4,5]
arr=np.array(mylist)

In [3]:
type(mylist)

list

In [4]:
type(arr)

numpy.ndarray

In [5]:
print(arr)

[1 2 3 4 5]

In [6]:
print(muylist)

NameError: name 'muylist' is not defined

In [7]:
print(mylist)

[1, 2, 3, 4, 5]

In [8]:
arr

array([1, 2, 3, 4, 5])

In [9]:
arr.shape

(5,)

In [10]:
my_list1=[1,2,3,4,5]
my_list2=[1,2,3,4,5]
mylist3=[2,3,4,5,6]
arr=np.array([my_list1,my_list2,mylist3])

In [11]:
arr

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6]])

In [12]:
arr.shpae

AttributeError: 'numpy.ndarray' object has no attribute 'shpae'

In [13]:
arr.shape

(3, 5)

In [15]:
arr.reshape(5,3)

array([[1, 2, 3],
       [4, 5, 1],
       [2, 3, 4],
       [5, 2, 3],
       [4, 5, 6]])

In [16]:
arr.reshape(1,15)

array([[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6]])

In [17]:
arr[0:2 ,0:2]

array([[1, 2],
       [1, 2]])

arr

In [18]:
arr[1:,3:]

array([[4, 5],
       [5, 6]])

In [21]:
arr=np.arange(0,10,step=2)

In [22]:
arr

array([0, 2, 4, 6, 8])

In [23]:
np.linspace(1,20,50)

array([ 1.        ,  1.3877551 ,  1.7755102 ,  2.16326531,  2.55102041,
        2.93877551,  3.32653061,  3.71428571,  4.10204082,  4.48979592,
        4.87755102,  5.26530612,  5.65306122,  6.04081633,  6.42857143,
        6.81632653,  7.20408163,  7.59183673,  7.97959184,  8.36734694,
        8.75510204,  9.14285714,  9.53061224,  9.91836735, 10.30612245,
       10.69387755, 11.08163265, 11.46938776, 11.85714286, 12.24489796,
       12.63265306, 13.02040816, 13.40816327, 13.79591837, 14.18367347,
       14.57142857, 14.95918367, 15.34693878, 15.73469388, 16.12244898,
       16.51020408, 16.89795918, 17.28571429, 17.67346939, 18.06122449,
       18.44897959, 18.83673469, 19.2244898 , 19.6122449 , 20.        ])

In [24]:
arr1=arr.copy()

In [25]:
arr1

array([0, 2, 4, 6, 8])

In [26]:
arr

array([0, 2, 4, 6, 8])

In [27]:
val=2
arr*2

array([ 0,  4,  8, 12, 16])

In [28]:
np.ones(4)

array([1., 1., 1., 1.])

In [29]:
import pandas as pd

In [30]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'], columns=['column1','column2','column3','column4'])

In [31]:
df

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [32]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [33]:
df.to_csv('test1.csv')

In [36]:
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [37]:
type(df.loc['Row1'])

pandas.core.series.Series

In [38]:
df.iloc[:,:]

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [40]:
df.iloc[0:2,0:3]

      column1  column2  column3
Row1        0        1        2
Row2        4        5        6

In [41]:
df.iloc[0:1,0:1]

      column1
Row1        0

In [45]:
df.iloc[:,1:].values.shape

(5, 3)

In [46]:
df['column1'].value_counts()

0     1
8     1
4     1
16    1
12    1
Name: column1, dtype: int64

In [49]:
df=pd.read_csv('train.csv')

In [50]:
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [52]:
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [53]:
data=('a,b,c,d\n'
             '1,2,3,4\n'
               '5,6,7,8\n'
                 '9,10,11,12')

In [55]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11,12

In [59]:
df=pd.read_csv(StringIO(data),dtype=int)

NameError: name 'StringIO' is not defined

In [62]:
data='{"employee_name":"james","email":"james@gmail.com" , "job_profile:[{"title":"Team Lead"} , {"title2":"sr developer"}]"}'

In [63]:
pd.read_json(data)

ValueError: No ':' found when decoding object value