In [1]:
import numpy as np

In [2]:
mylist=[1,2,3,4,5]
arr=np.array(mylist)

In [3]:
type(mylist)

list

In [4]:
type(arr)

numpy.ndarray

In [5]:
print(arr)

[1 2 3 4 5]

In [6]:
print(muylist)

NameError: name 'muylist' is not defined

In [7]:
print(mylist)

[1, 2, 3, 4, 5]

In [8]:
arr

array([1, 2, 3, 4, 5])

In [9]:
arr.shape

(5,)

In [10]:
my_list1=[1,2,3,4,5]
my_list2=[1,2,3,4,5]
mylist3=[2,3,4,5,6]
arr=np.array([my_list1,my_list2,mylist3])

In [11]:
arr

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6]])

In [12]:
arr.shpae

AttributeError: 'numpy.ndarray' object has no attribute 'shpae'

In [13]:
arr.shape

(3, 5)

In [15]:
arr.reshape(5,3)

array([[1, 2, 3],
       [4, 5, 1],
       [2, 3, 4],
       [5, 2, 3],
       [4, 5, 6]])

In [16]:
arr.reshape(1,15)

array([[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6]])

In [17]:
arr[0:2 ,0:2]

array([[1, 2],
       [1, 2]])

arr

In [18]:
arr[1:,3:]

array([[4, 5],
       [5, 6]])

In [21]:
arr=np.arange(0,10,step=2)

In [22]:
arr

array([0, 2, 4, 6, 8])

In [23]:
np.linspace(1,20,50)

array([ 1.        ,  1.3877551 ,  1.7755102 ,  2.16326531,  2.55102041,
        2.93877551,  3.32653061,  3.71428571,  4.10204082,  4.48979592,
        4.87755102,  5.26530612,  5.65306122,  6.04081633,  6.42857143,
        6.81632653,  7.20408163,  7.59183673,  7.97959184,  8.36734694,
        8.75510204,  9.14285714,  9.53061224,  9.91836735, 10.30612245,
       10.69387755, 11.08163265, 11.46938776, 11.85714286, 12.24489796,
       12.63265306, 13.02040816, 13.40816327, 13.79591837, 14.18367347,
       14.57142857, 14.95918367, 15.34693878, 15.73469388, 16.12244898,
       16.51020408, 16.89795918, 17.28571429, 17.67346939, 18.06122449,
       18.44897959, 18.83673469, 19.2244898 , 19.6122449 , 20.        ])

In [24]:
arr1=arr.copy()

In [25]:
arr1

array([0, 2, 4, 6, 8])

In [26]:
arr

array([0, 2, 4, 6, 8])

In [27]:
val=2
arr*2

array([ 0,  4,  8, 12, 16])

In [28]:
np.ones(4)

array([1., 1., 1., 1.])

In [29]:
import pandas as pd

In [30]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'], columns=['column1','column2','column3','column4'])

In [31]:
df

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [32]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [33]:
df.to_csv('test1.csv')

In [35]:
type(df.loc['Row1'])

pandas.core.series.Series